---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeaturedProjects from '../components/FeaturedProjects.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <FeaturedProjects />
    <About />
    <Services />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
